- title("Dashboard")

.leftmiddle
  %h3 Was gibt es Neues?

  = form_tag updates_path do
    %p
      = text_field_tag :update, params[:update], :size=>100
      = submit_tag "Send", :name => nil, :class => "button light"
  .latestupdate= "#{@latest_update.message} - sent #{distance_of_time_in_words(@latest_update.created_at, Time.now)} ago" unless @latest_update.nil?
  
  %h3 Neues aus meinem Netzwerk
    
.right
  =link_to "Neuer Auftrag", new_request_path, :class => 'button'
  .box
    %h3 LINKS (temp)
    %ul
      %li= link_to "Firmendaten", company_path(current_company)
      %li= link_to "Firmenverzeichnis", companies_path()
      %li= link_to "Passwort ändern", edit_user_registration_path()
  .box
    %h3 Leads
    %ul
      - for lead in @leads do
        %li
          = l lead.created_at, :format => :short
          = link_to lead.request.name, lead
    = link_to ">> Alle Leads anzeigen", leads_path()
  .box
    %h3 Nachrichten
  .box
    %h3 Netzwerk erweitern
    = form_tag companies_path, :method => :get do
      %p
        = text_field_tag :search, params[:search] = "mail adresse",:size=>40, :class => "text clearme"  
