- content_for(:sidebar) do
  = render "sidebar"
=simple_form_for @message do |f|
  .item-action
    .actions
      =f.submit "senden", :class => "dark_button", :html => {:style => "margin-top: -4px;"}
      =link_to "verwerfen", messages_path()

  %article.request
    = f.error_messages  
    %p  
      = f.label :to, "An"
      = text_field :ac, :companies, :class => "small long"
      #ac_selection  
    %p
      = f.label :subject, "Betreff"
      %br
      = f.text_field :subject, :class => 'small long'
    %p
      = f.label :body, "Nachricht"
      %br
      = f.text_area :body, :class => "small long"
          
  .item-action
    .actions
      =f.submit "senden", :class => "dark_button", :html => {:style => "margin-top: -4px;"}
      =link_to "verwerfen", messages_path()
    
