%h3 "Nachricht verfassen"

=form_for @message do |f|
  = f.error_messages  
  %p  
    = text_field :ac, :companies, :class => "text"
    %br
    = f.label :to, "AN:"
    #ac_selection  
  %p
    = f.label :subject, "Betreff"
    %br
    = f.text_field :subject, :class => 'text'
  %p
    = f.label :body, "Text"
    %br
    = f.text_area :body, :cols => 40, :rows => 3

  %p= f.submit "senden", :class => "button light"
  
  
  #removeme
    =link_to "remove", "#", :class => "remove-link"