- content_for(:sidebar) do
  = render "sidebar"
= form_tag "#", :id => "items_form", :method => :put do
  = render :partial => 'bulk-action'
  = render :partial => 'list'
  = render :partial => 'bulk-action'# if @messages.count > 5
