= form_tag sessions_path, :class => "simple_form" do |f|
  .green_box
    %h3 Anmelden
    %fieldset
      = label :email, "Mailadresse", :class => "transition"
      = text_field_tag :email, params[:email], :class => 'transition'
    %fieldset
      = label :password, "Password", :class => "transition"
      = password_field_tag :password, params[:password], :class => 'transition'

    %fieldset
      = label_tag :remember_me
      = check_box_tag :remember_me, 1, params[:remember_me]

    = link_to "Passwort vergessen?", new_password_reset_path, :class => "forgot"
  = submit_tag "Anmelden", :class => "green_button"