#actionsearch
  = form_tag search_path do |f|
    = text_field_tag :query, params[:query] = "Suche nach Firma oder Tag", :size => 35, :class => "clearme", :type => "search"
    = submit_tag "suchen", :class => "search_button"
%nav.actionbuttons
  =link_to image_tag("message.png"), messages_path(), :class => "message dropdown"  
  =link_to image_tag("contact.png"), company_associates_path(current_company), :class => "contact dropdown"
  =link_to image_tag("lead.png"), leads_path(), :class => "lead dropdown"
  
  #message_menu.dropdownmenu.box_shadow.transition
    .actionbox_header
      .actionbox_title
        %h4 Nachrichten
      .actionbox_top_link
        = link_to "Alle Nachrichten >>", messages_path()
      
    #actionbox_messages
      Loading...
    .actionbox_footer
      = link_to "Neue Nachricht", new_message_path(), :class => "small_button"
  
  #contact_menu.dropdownmenu.box_shadow
    .actionbox_header
      .actionbox_title
        %h4 Beziehungen
      .actionbox_top_link
        = link_to "Netzwerk >>", company_associates_path(current_company)
    #actionbox_contacts
      Loading...
    .actionbox_footer

  #lead_menu.dropdownmenu.box_shadow
    .actionbox_header
      .actionbox_title
        %h4 Leads
      .actionbox_top_link
        = link_to "Alle Leads >>", leads_path()
    #actionbox_leads
      Loading...
    .actionbox_footer
  