#actionsearch
  = form_tag search_index_path do |f|
    = text_field_tag :query, params[:query] = "Suche nach Firma oder Tag", :class => "search clearme"
    = submit_tag "Suchen", :class => "search_button"
%nav.actionbuttons
  =link_to image_tag("leads.png"), leads_path(), :class => "lead dropdown"
  =link_to image_tag("messages.png"), messages_path(), :class => "message dropdown"  
  =link_to image_tag("network.png"), company_associates_path(current_company), :class => "contact dropdown"
  
  .actionbox.messages
    #pointer
    %section
      .header
        .boxname
          %h1 Nachrichten
        .toplink
          = link_to "Alle Nachrichten", messages_path()
      #content.actionbox_messages
        Loading...
      #actionfooter= link_to "Neue Nachricht", new_message_path(), :class => "dark_button"
  
  .actionbox.leads
    #pointer
    %section
      .header
        .boxname
          %h1 Leads
        .toplink
          = link_to "Alle Leads", leads_path()

      #content.actionbox_leads
        Loading...
      #actionfooter

  .actionbox.contacts
    #pointer
    %section
      .header
        .boxname
          %h1 Beziehungen
        .toplink
          = link_to "Netzwerk", company_associates_path(current_company)

      #content.actionbox_contacts
        Loading...
      #actionfooter
