-form_for @company do |f|
  = f.error_messages
  %p  
    = f.label :name, "Company Name"
    %br
    = f.text_field :name, :class => "text focus"
  - fields_for :user do |user|
    %p
      = user.label :email, "email"
      %br
      = user.text_field :email, :class => "text"
    %p
      = user.label :email, "Firstname"
      %br
      = user.text_field :firstname, :class => "text"
    %p
      = user.label :email, "Lastname"
      %br
      = user.text_field :lastname, :class => "text"
-#  - fields_for @company.plan do |plan|
-#    = plan.hidden_field :name
-#  = render :partial => 'subscriptions/creditcard' unless @company.plan? :ready
-#  %p= f.submit "Submit", :class => "button light"
