= render :partial => "item-action"
%article.company_profile
  %h1= "Firmenprofil von #{@company.name} editieren"

  =form_for @company, :html => {:class => "tight_form", :multipart => true } do |f|
    = f.error_messages

    %article.company
      %p
        = f.file_field :logo
      %p
        = f.label :teaser, "Teaser"
        %br
        = f.text_field :teaser
      %p
        = f.label :tag_list, "Tags"
        %br
        = f.text_field :tag_list
      
      = f.fields_for :addresses do |address_fields|
        %p
          = label :street, "Strasse"
          %br
          =address_fields.text_field :street
          %br
          = label :plz, "Postleitzahl"
          =address_fields.text_field :plz
          %br/
          = label :city, "Stadt"
          =address_fields.text_field :city
          %br/
          = label :country, "Land"
          =address_fields.text_field :country
          
      %p
        = f.label :phone, "Telefon"
        = f.text_field :phone
      %p
        = f.label :fax, "Fax"
        = f.text_field :fax
      %p
        = f.label :email, "e-Mail"
        = f.text_field :email
      %p
        = f.label :website, "Webseite"
        = f.text_field :website
      %p
        = f.label :twitter, "Twitter"
        = f.text_field :twitter
      %p
        = f.label :staff, "Mitarbeiter"
        = f.text_field :staff
        
      %h3 Erzählen Sie uns etwas über Ihre Firma
      %p
        = f.label :history, ""
        = f.text_area :history
      %br/
      = f.submit "Speichern", :class => "button light"
        