- title @company.name

= link_to "editieren", edit_company_path(current_user.company), :class => 'button edit'  if current_user && current_company == @company

=link_to "Dran bleiben!", new_company_associate_path(@company) unless !current_user || current_company == @company || current_company.associates.include?(@company)


%h1= @company.name
= image_tag @company.logo.url(:medium)
= @company.teaser

%p= @company.tag_list

%p#address_map
  %strong main address
  = render :partial =>  @company.main_address
  = render :partial => 'maps/address', :locals => {:map =>  @company.main_address.map(@company.name)}

#details
  %p
    %strong telephone
    = @company.phone
  %p 
    %strong fax
    = @company.fax
  %p
    %strong email
    = @company.email
  %p
    %strong twitter
    = @company.twitter
  %p
    %strong Webseite
    = @company.website
  %p
    %strong anzahl mitarbeiter
    = @company.staff
  %p
    %strong history
    = @company.history
