.item-action
  %span.backlink=link_to "< zurück zur Übersicht", company_associates_path(current_company), :class => "underline"
  .actions
    %span=link_to "editieren", settings_company_profile_path, :class => "small_action_button" if current_user && current_company == @company
    %span=link_to "Dran bleiben!", new_company_associate_path(@company), :class => "small_action_button" unless !current_user || current_company == @company || current_company.associates.include?(@company)

#logocol
  = image_tag @company.logo_url(:medium).to_s if @company.logo?
  &nbsp;
  
%article.company
  %h1= @company.name
  
  %p
    %strong Beziehung
    %br
    Kunde

  %p
    %strong Adresse
    %br
    = render :partial =>  @company.main_address

  %p
    %strong Telefon
    %br
    = @company.phone
  %p
    %strong e-Mail
    %br
    = @company.email
  %p
    %strong Webseite
    %br
    =link_to @company.website, @company.website, :class => "underline", :target => :blank
  %p
    %strong Anzahl Mitarbeitende
    %br
    = @company.staff
  %p
    %strong Über uns
    %br
    = @company.history
%aside.companyprofile
  %article.contacts
    %h1 Kontakte
    %ul
      - if @company.associates.empty?
        - if current_company == @company
          = link_to "Finden Sie Ihre Kontakte", search_index_path()
        - else
          keine Kontakte
          
      - else
      -for contact in @company.associates do
        %li{:style => "background: url(#{contact.logo_url(:thumb).to_s}) no-repeat 2%;"}
          =link_to contact.name, contact

  %article.internetprofiles
    %h1 Internetprofile
    =link_to image_tag('icons/twitter.png'), "http://twitter.com/#{@company.twitter}", :target => :blank unless @company.twitter.blank?
    =#link_to image_tag('icons/facebook.png'), @company.facebook, :target => :blank unless @company.facebook.empty?
    =#link_to image_tag('icons/linkedin.png'), "#", :target => :blank
    =#link_to image_tag('icons/xing.png'), "#", :target => :blank
