.wide{:style => "padding-bottom: 30px;"}
  %h1 Beschreiben Sie ihre Dienstleistungen mit Tags
  %p.lead Gratulation! Sie haben soeben erfolgreich Ihre Firma registriert. Wenn Sie sich jetzt kurz Zeit nehmen und die Dienstleistung Ihres Unternehmens mit 3 - 5 Tags beschreiben, sind sie vom ersten Tag der Beta-Phase bereit, um neue Aufträge zu bekommen!
  %p{:style => "margin-bottom: 0px;"}
    Tags sind  zum Beispiel: 
  = tag_flag("Web Design", nil)
  = tag_flag("IT Betrieb", nil)
  = tag_flag("HTML5", nil)
  = tag_flag("Telefonanlage", nil)

=simple_form_for @company, :remote => :true, :url => add_tag_company_path do |f|
  = f.error_messages  
  
  .green_box
    %h3 Tags erfassen
    //=f.input :tag_list
    = field_set_tag do
      = label :tags, "Tags"
      = text_field :tags, :tag, :class => "text near focus"
      = f.submit "add", :class => "near_button"

.green_box.last
  #tag_list= render :partial => 'tags/tag_list'
= link_to 'Fertig', destroy_user_session_path(), :class => "green_button form_button"
