.first
  %h5 Produkt
  %ul
    %li= link_to "Was ist flockstreet?", tour_profile_path
    %li= link_to "Abo & Preise", plans_path
    %li= link_to "Erfolgsgeschichten", "#"
    %li= link_to "Registration", "#"

.third
  %h5 Tour
  %ul
    %li= link_to "Firmenprofil", tour_profile_path
    %li= link_to "Aufträge", tour_profile_path
    %li= link_to "Leads", tour_profile_path
    %li= link_to "Nachrichten", tour_profile_path
    %li= link_to "Anlässe", tour_profile_path
    %li= link_to "Verbände", tour_profile_path

.third
  %h5 Firma
  %ul
    %li= link_to "Über Flockstreet", about_path
    %li= link_to "FAQ", faq_path
    %li= link_to "Nutzungsbedingungen", terms_path
    %li= link_to "Kontakt", contact_path
    
.fourth
  %h5 Community
  %ul
    %li= link_to "Blog", "http://blog.flockstreet.com"
    %li= link_to "Twitter", "http://twitter.com/flockstreet"
    %li= link_to "Facebook", "#"
    %li= link_to "Feedback", "#"
