.left
  %h3 Produkt
  %ul
    %li= link_to "Tour", tour_profile_path
    %li Erfolgsgeschichten
    %li= link_to "FAQ", faq_path
    %li Abo & Preise

.middle
  %ul
    %li
      %strong Firma
    %li= link_to "Über Flockstreet", about_path
    %li Datenschutz
    %li= link_to "Nutzungsbedingungen", terms_path
    %li= link_to "Kontakt", contact_path

.right
  %address
    %ul
      %li 
        %strong Community
        %li= link_to "Blog", "http://blog.flockstreet.com"
        %li= link_to "folge uns auf Twitter", "http://twitter.com/flockstreet"
        %li 
        sende uns eine 
        = link_to "eMail", "mailto:contact@flockstreet.com"
