.slim
  %h5 Produkt
  %ul
    %li= link_to "Was ist flockstreet?", flockstreet_path()
    %li= link_to "Abo & Preise", plans_path
    %li= link_to "Beta Registration", register_path()

.slim
  %h5 Firma
  %ul
    %li= link_to "Über Uns", about_path
    %li= link_to "Blog", "http://blog.flockstreet.com", :target => "_blank"
    %li= link_to "AGB's", terms_path
    %li= link_to "Impressum", impressum_path
    //    %li= link_to "FAQ", faq_path
    
.slim
  %h5 Community
  %ul
    %li= link_to "Newsletter", "http://eepurl.com/b6Sj1", :target => "_blank"
    %li= link_to "Feedback", "http://getsatisfaction.com/flockstreet/", :target => "_blank"
    %li= link_to "Twitter", "http://twitter.com/flockstreet", :target => "_blank"
    %li= link_to "Facebook", "http://facebook.com/flockstreet", :target => "_blank"
