.full
  - title('Über uns')
  .toplinks
    - if show_title?
      %h1=h yield(:title)
  
.slim
  %h3 Wieso flockstreet?
.wide
  %p
    Wir finden die Suche nach neuen Lieferanten immer zeitraubend und mühsam: Im Internet etliche Homepages von Anbietern zu studieren und dann doch nicht schlauer sein."Geld ausgeben muss einfacher sein". flockstreet bringt Lieferanten und Kunden zusammen. 

.slim  
  %h3 Wieso ein soziales Netzwerk?

.wide
  %p
    Unternehmen sollten mit den Menschen/Firmen sprechen, zu denen Sie eine Beziehung haben oder aufbauen wollen. flockstreet will die Schweizer KMUs dabei unterstützen in einen offenen, regen Dialog miteinander zu treten. Wir sind überzeugt, dass darin viel Potenzial steckt. Wir haben unsere Partner für flockstreet übrigens auch in sozialen Netzwerken gefunden.  

.slim
  %h3 Caroline Schnell
  
.slim
  %ul
    %li Business Development & Operations
    %li= link_to 'Caroline bei Xing', "http://xing.com/profile/Caroline_Schnell", :target => :blank
    %li= link_to 'About Me', "http://about.me/caroschnell", :target => :blank
.slim
  =image_tag("portrait_caroline_square.jpg", :width => "150", :height => "150")

.slim
  %h3 Marcel Canclini
  
.slim
  %ul
    %li Software Development & Finance
    %li= link_to 'Marcel bei Xing', "http://xing.com/profile/Marcel_Canclini", :target => :blank
    %li= link_to 'About Me', "http://about.me/canclini", :target => :blank
    %li= link_to 'Twitter', "http://twitter.com/canclini", :target => :blank

.slim
  =image_tag("portrait_marcel_square.jpg", :width => "150", :height => "150")