%nav.topnav
  %ul
    %li
      = link_to t('startpage.tagline1'), flockstreet_path()
    %li.last
      = link_to t('startpage.tagline2'), plans_path()
      
  %h1 
    Firmen-Netzwerk mit Auftragsplattform
    
.right
  - if @app_state == 'website'
    =link_to t('startpage.register_beta'), register_path(), :class => "big_button call2action"
  -else
    =link_to t('startpage.try'), register_path(), :class => "big_button call2action"

.leftmiddle
  %video{ :controls => "", :width => "620", :height => "360"}  
    %source{:src => "http://s3.amazonaws.com/flkstr/movies/flockstreet_movie.m4v", :type=> "video/mp4"}/
    %source{:src=>"http://s3.amazonaws.com/flkstr/movies/flockstreet_movie.ogv", :type=> "video/ogg"}/

    %object{:width=>"640", :height=>"360", :type=>"application/x-shockwave-flash", :data=>"/player.swf" }
      %param{:name=>"movie", :value=>"/player.swf"}	
      %param{:name=>"flashvars", :value=>'controlbar=over&amp;file=http://s3.amazonaws.com/flkstr/movies/flockstreet_movie.m4v'}
  
  %h4.byline
    Sie sind Auftraggeber oder Dienstleister im B2B-Bereich? flockstreet ist das Netzwerk mit Auftragsplattform. Sie finden geeignete Dienstleister, neue Aufträge, profitieren von einer kostenlosen Kommunikation und von einfacher Kontaktaufnahme in einem Netzwerk speziell für Firmen.
    =link_to "Probieren Sie es kostenlos", register_path()
.right
  .twitterwall
    %h3 Twitter Wall
    #twitter
    %h4=link_to t('startpage.twitter'), "http://twitter.com/flockstreet"
  
- content_for :columns do
  %article.slim
    %h3= t('teaser.left.title')
    %p= t('teaser.left.paragraph')
    %h4=link_to t('teaser.link'), flockstreet_path(:anchor => "relations")
  %article.slim
    %h3= t('teaser.middle.title')
    %p= t('teaser.middle.paragraph')
    %h4=link_to t('teaser.link'), flockstreet_path(:anchor => "customers")
  %article.slim.last
    %h3= t('teaser.right.title')
    %p=t('teaser.right.paragraph')
    %br
    %h4=link_to t('teaser.link'), flockstreet_path(:anchor => "network")
