%nav.topnav
  %ul
    %li
      = link_to t('startpage.tagline1'), flockstreet_path()
    %li.last
      = link_to t('startpage.tagline2'), plans_path()
      
  %h1 
    Firmen-Netzwerk mit Auftragsplattform
    
.slim
  - if @app_state == 'website'
    =link_to t('startpage.register_beta'), register_path(:secure => true), :class => "big_button call2action"
  -else
    =link_to t('startpage.try'), register_path(:secure => true), :class => "big_button call2action"

.wide
  .video-js-box
    %video.video-js{ :controls => "", :preload => "", :width => "620", :height => "360"}  
      %source{:src => "http://s3.amazonaws.com/flkstr/movies/flockstreet_movie.m4v", :type=> "video/mp4"}/
      %source{:src=>"http://s3.amazonaws.com/flkstr/movies/flockstreet_movie.ogv", :type=> "video/ogg"}/
    
      %object.vjs-flash-fallback{:width=>"640", :height=>"360", :type=>"application/x-shockwave-flash", :data=>"http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" }
        %param{:name=>"movie", :value=>"http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf"}	
        %param{:name=>"allowfullscreen", :value=>"true"}	
        %param{:name=>"flashvars", :value=>'config={"playlist":[{"url": "http://s3.amazonaws.com/flkstr/movies/flockstreet_movie.m4v","autoPlay":false,"autoBuffering":true}]}'}
  
  %p.byline
    Sie sind Auftraggeber oder Dienstleister im B2B-Bereich? flockstreet ist das Netzwerk mit Auftragsplattform. Sie finden geeignete Dienstleister, neue Aufträge, profitieren von einer kostenlosen Kommunikation und von einfacher Kontaktaufnahme in einem Netzwerk, speziell für Firmen.
    =link_to "Probieren Sie flockstreet kostenlos!", register_path()
.slim
  %section.twitterwall
    %h3 Twitter Wall
    #twitter
    %footer
      =link_to t('startpage.twitter'), "http://twitter.com/flockstreet", :class => 'follow', :target => 'blank'
  
- content_for :columns do
  %article.slim
    %h3= t('teaser.left.title')
    %p= t('teaser.left.paragraph')
    %br
    %h4=link_to t('teaser.link'), flockstreet_path(:anchor => "relations")
  %article.slim
    %h3= t('teaser.middle.title')
    %p= t('teaser.middle.paragraph')
    %h4=link_to t('teaser.link'), flockstreet_path(:anchor => "customers")
  %article.slim.last
    %h3= t('teaser.right.title')
    %p=t('teaser.right.paragraph')
    %br
    %h4=link_to t('teaser.link'), flockstreet_path(:anchor => "network")
