.plan
  .box.distinguish
    %h1 Connect
    #connect_price_suggestion.transition
      %h2=link_to "Ihr Preis?", "#", :class => "show_price_suggestion"
      =form_for @price_connect, :remote => true  do |f|
        = f.label :price, "Was wäre Ihnen dieses Abo/Mt. wert?"
        %br
        = f.text_field :price, :class => 'text'
        = f.hidden_field :plan
        = f.submit "senden", :class => "green_button light"
  .box.plan_content.distinguish
    %ul
      %li 
        Anzahl Logins
        %span 3
      %li
        Anzahl Leads/Mt.
        %span 3
      %li
        Anzahl Aufträge/Mt.
        %span 3
      %li
        Anzahl Firmenadressen
        %span 1
      %li
        %span sofortige Benachrichtigung per E-Mail
    - if @app_state == 'website'
      noch nicht verfügbar
    -else
      = link_to "anmelden", register_path(:plan => 'connect'), :class => 'green_button'