.plan
  .box
    %h1 Scale
    #scale_price_suggestion.transition
      %h2=link_to "Ihr Preis?", "#", :class => "show_price_suggestion"
      =form_for @price_scale, :remote => true  do |f|
        = f.label :price, "Was ist Ihnen dieses Abo/Mt. wert?"
        %br
        = f.text_field :price, :class => 'text'
        = f.hidden_field :plan
        = f.submit "senden", :class => "green_button light"
  .box.plan_content
    %ul
      %li 
        Anzahl Logins
        %span 5
      %li
        Anzahl Leads/Mt.
        %span unlimitiert
      %li
        Anzahl Aufträge/Mt.
        %span unlimitiert
      %li
        Anzahl Standorte
        %span 5
      %li
        %span Benachrichtigungs E-Mails
    
    - if @app_state == 'website'
      noch nicht verfügbar
    -else
      = link_to "anmelden", register_path(:plan => 'scale'), :class => 'green_button'
    