%ul
  %li= link_to "Neuigkeiten", dashboard_path(), :class => ("active" if controller_name == 'dashboard')
  %li= link_to "Aufträge", requests_path(), :class => ("active" if controller_name == 'requests')
  %li= link_to "Leads", leads_path(), :class => ("active" if controller_name == 'leads')
  %li= link_to "Netzwerk", company_associates_path(current_company), :class => ("active" if controller_name == 'associates')
  %li= link_to "Nachrichten", messages_path(), :class => ("active" if controller_name == 'messages')