%nav.user
  - if current_user
    %a{ :href => logout_url, :class => "logout", :title => "logout"}
      .logout_link
        Logout
  - else
    %a{ :href => login_url, :class => "login", :title => "Login"}
      .login_link
        Login  
      
  #login_menu.transition  
    %a{ :href => login_url, :class => "login", :title => "Login"}
      .login_link
        Login  
    .input_form        
      = form_tag sessions_url(:subdomain => 'secure' ) do
        = field_set_tag 'E-Mail' do
          = text_field_tag 'email', nil, :type => 'email'
        = field_set_tag 'Passwort' do
          = password_field_tag 'password'
        .button_form
          %button.login_button Login
