<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %title= "flockstreet"
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_include_tag "application"
    = csrf_meta_tag
    = render :partial => 'layouts/bugherd'

  %body
    #wrapper
      %header
        .content
          %a{ :href => dashboard_url}
            .logo
          = render :partial => 'nav/meta'
      #bar
        .content
          = render :partial => 'actionbox/index'
          .profile
            = image_tag @company.logo_url(:thumb).to_s if @company.logo?
            = current_company.name
            
      #hass_shadow  
      #flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

      #container
        %nav.main= render :partial => 'nav/main'
        %nav.sidebar=render :partial => 'sidebar' rescue nil
        %section{:id =>"content"}
          =yield
    %footer.small
      .copyright
        .ginetta
          =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "transition", :target => 'blank'
        .flockstreet
          &copy; flockstreet 2011