<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    %title= "flockstreet"
    = render :partial => 'layouts/includes'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application", "jquery.rails"  
    = csrf_meta_tag

  %body
    #wrapper
      #header-meta-container
        #header-meta
          #header-meta-logo
            = link_to image_tag("3birds_signet.png", :border => 0), dashboard_url
          #header-meta-actionbox
            = render :partial => 'actionbox/actionbox'
          = render :partial => 'nav/user'
  
      #header-content-container
        #header-content
          #header-content-logo
            
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

      #content_one
        - if show_title?
          %h2=h yield(:title)
      
        = yield
      #push_footer
    #footer-copy-container
      #footer-copy
        =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "box_transition"
        &copy; Flockstreet, 2010