<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %title= "flockstreet"
    = render :partial => 'layouts/includes'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application", "jquery.rails", "modernizr-1.6.min", "video", "jquery.twitter"
    = csrf_meta_tag

  %body
    #wrapper
      %header
        .content
          %a{ :href => dashboard_url}
            .logo
          = render :partial => 'nav/user'
      #bar
        .content
          = render :partial => 'actionbox/actionbox'
          .profile
            flockstreet
      #hass_shadow  
      #flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

      #container
        %nav.main.full= render :partial => 'layouts/maintopics'
        %nav.sidebar
          %ul
            =render :partial => 'sidebar'
        %section{:id =>"content"}= yield
    %footer.small
      .copyright
        .ginetta
          =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "transition", :target => 'blank'
        .flockstreet
          &copy; flockstreet 2011