<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    %title=h(yield(:title) || "Untitled")
    = render :partial => 'layouts/includes'
    = yield :head
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application", "jquery.rails", "simplemodal"
    = csrf_meta_tag

  %body.app
    #wrapper.wrap
      #header
        #logo
          - if current_user
            =link_to image_tag("flockstreet-blue.png", :border => 0), dashboard_path
          -else
            =link_to image_tag("flockstreet-blue.png", :border => 0), root_url
        #topnav= render :partial => 'nav/user'
        #stripline
          #mainnav= render :partial => 'nav/main'
      #widecontent
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      #footer
        = render 'layouts/footer'
    = render :partial => 'layouts/uservoice'