<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    %title= h(yield(:title) || "flockstreet")
    = render :partial => 'layouts/includes'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application", "jquery.rails"
    = csrf_meta_tag

  %body.login
    #wrapper
      #header
        #logo
          =link_to image_tag("flockstreet-blue_only.png", :border => 0), root_url
      - if show_title?
        %h2=h yield(:title)
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      #footer
        = render 'website/footer'
      #copyright &copy; Flockstreet, 2010
    = render :partial => 'layouts/uservoice'
