<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
    %title= h(yield(:title) || "flockstreet")
    = render :partial => 'layouts/includes'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js",  "jquery.rails", "modernizr-1.6.min", "jquery.twitter", "application"
    = csrf_meta_tag

  %body
    #wrapper
      %header
        .content
          .logo
            =link_to image_tag("3owls_flockstreet_beta.png"), root_url
          .meta
            = render :partial => 'nav/user'
         
      #container.small_footer
        = yield
    #footer.small
      %footer.copyright
        .left
          =link_to "Blog", "http://blog.flockstreet.com"
        .ginetta
          =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "transition"
        .flockstreet
          &copy; flockstreet 2010