<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %title flockstreet - Auftragsplattform und Netzwerk
    = stylesheet_link_tag 'styles', :media => 'screen, projection'
    = render :partial => 'layouts/includes'
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "modernizr-1.6.min", "jquery.twitter", "video", "application"
    = csrf_meta_tag

  %body
    #wrapper
      %header.top
        .content
          .logo
            =link_to image_tag("3owls_flockstreet_beta.png"), root_url
          .meta
            = render :partial => 'nav/user'
      #flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
         
      #container.small_footer
        = yield
    %footer.small
      .copyright
        .ginetta
          =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "transition", :target => 'blank'
        .flockstreet
          &copy; flockstreet 2011
    = render :partial => 'website/feedback'
    -if APP_CONFIG['include_analytics']
      = render :partial => 'website/analytics'