<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %title flockstreet - Auftragsplattform und Netzwerk
    = stylesheet_link_tag 'styles', :media => 'screen, projection'
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    #wrapper
      %header.top
        .content
          %a{ :href => root_url}
            .logo
          .meta
            .search
              \&nbsp;
            .language
              - available_locales.each do |locale|
                = link_to_unless current_locale?(locale), locale, current_page_path(:locale => locale)
            = render :partial => 'nav/user'
      #hass_shadow
      #flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      #container
        = yield
      #content_two.big_footer
        = yield(:columns)

    %footer.big
      %nav.footer
        = render 'website/footer'
      .copyright
        .ginetta
          =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "transition", :target => 'blank'
        .flockstreet
          &copy; flockstreet 2011
    = render :partial => 'website/feedback'
    -if APP_CONFIG['include_analytics']
      = render :partial => 'website/analytics'
      
