<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"UTF-8"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %title= h(yield(:title) || "flockstreet")
    = stylesheet_link_tag 'compiled/styles.css', :media => 'screen, projection'
    = render :partial => 'layouts/includes'
    = stylesheet_link_tag 'video-js'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js",  "jquery.rails", "modernizr-1.6.min", "jquery.twitter", "video", "application"
    = csrf_meta_tag

  %body
    #wrapper
      %header
        .content
          %a{ :href => root_url}
            .logo
          .meta
            = render :partial => 'nav/user'
      #hass_shadow
      #flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      #container
        = yield
      #content_two.big_footer
        = yield(:columns)

    %footer.big
      %nav.footer
        = render 'website/footer'
      .copyright
        .ginetta
          =link_to "GINETTA™ WEB/DESIGN", "http://www.ginetta.ch", :class => "transition", :target => 'blank'
        .flockstreet
          &copy; flockstreet 2011
    = render :partial => 'website/feedback'
  <!-- begin olark code --> <script type='text/javascript'>/*<![CDATA[*/ window.olark||(function(k){var g=window,j=document,a=g.location.protocol=="https:"?"https:":"http:",i=k.name,b="load",h="addEventListener";(function(){g[i]=function(){(c.s=c.s||[]).push(arguments)};var c=g[i]._={},f=k.methods.length;while(f--){(function(l){g[i][l]=function(){g[i]("call",l,arguments)}})(k.methods[f])}c.l=k.loader;c.i=arguments.callee;c.p={0:+new Date};c.P=function(l){c.p[l]=new Date-c.p[0]};function e(){c.P(b);g[i](b)}g[h]?g[h](b,e,false):g.attachEvent("on"+b,e);c.P(1);var d=j.createElement("script");m=document.getElementsByTagName("script")[0];d.type="text/javascript";d.async=true;d.src=a+"//"+c.l;m.parentNode.insertBefore(d,m);c.P(2)})()})({loader:(function(a){return "static.olark.com/jsclient/loader1.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]}); olark.identify('5395-566-10-1646');/*]]>*/</script> <!-- end olark code -->