%h1 Grossartig: Los geht's
- if @app_state == 'website'
  .wide
    %h4 flockstreet befindet sich in der Beta Phase! Alle Funktionen stehen bis auf weiteres ohne Einschränkungen zur Verfügung. Natürlich freuen wir uns über jede Anregung, Lob oder sonstiges Feedback.
    %br/
  
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  =errors_for(@user, "Registration fehlgeschlagen!", "Bitte prüfen sie folgende Felder:").html_safe
  =errors_for(@company, "Registration fehlgeschlagen!", "Bitte prüfen sie folgende Felder:").html_safe
  .green_box.visible{:style => "clear:both;"}
    %h3 Wo arbeiten Sie?
    = f.simple_fields_for @company do |c|
      = c.input :name, :label => "Firmenname",:hint => 'zu registrierende Firma', :input_html => { :class => 'transition', :value => @company_name }
  .green_box.visible.last
    %h3 Ihre Login-Daten
    = f.input :email, :label => "Mailadresse", :hint => 'ist auch gleich der Benutzername', :input_html => {:class => 'transition' }
    = f.input :password, :label => "Passwort",:hint => 'mindestens 6 Zeichen', :input_html => { :class => 'transition' }
    = f.input :password_confirmation, :label => "Passwortbestätigung", :input_html => { :class => 'transition' }
    = label :user, :terms_of_service, "AGB"
    = check_box(:user, :terms_of_service)
    %span
      Ich akzeptiere die Datenschutz- bestimmungen und
      =link_to "AGB's", terms_path(), :target => 'blank'


  = f.submit "Konto erstellen", :class => "green_button spin"
