%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :email, :input_html => { :class => 'focus' }
  = f.input :firstname
  = f.input :lastname
  = f.input :password
  = f.input :password_confirmation
  = hidden_field :company, :id
  = f.button :submit
  
= render :partial => "devise/shared/links"